


    <nav>

        <div class="">
            <a href="{% url 'home_page' %}">Home </a>

            {% comment %} Check if the user is authenticated {% endcomment %}
            {% if request.user.is_authenticated %}  
                <a href="{% url 'user_account' %}"> Account </a>
            {% endif %}
        </div>
        


        <div class="btn-wrapper">
            {% if request.user.is_authenticated %}  
                <a href="{% url 'logout_page' %}" class='btn btn-warning'>Logout</a>
            {% else %}
                <a href="{% url 'login_page' %}" class='btn btn-primary'>Login</a>
                <a href="{% url 'register_page' %}" class='btn'>Register</a>
            {% endif %}
        </div>  
        

        
    </nav>


